:root {
  --color-primary: #1e1c1c;
  --color-secondary: #212121;
  --color-terciary: #ff4545;
  --color-neutral: #f0eeec;

  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}

html{
  color: var(--color-primary)
}

body {
  position: absolute;
  background-color: var(--color-neutral);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.modal-container{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}


