@import './base.css';
@import './reset.css';

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.ql-editor {
    background-color: #fff;
}

.ql-container {
    width: 100%;
}

.ql-toolbar {
    width: 100%;
}